.userList {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin: 0 auto;
    @media screen and(min-width:900px) {
        width: 70%;
    }

    &__link{
        text-decoration: none;
        color: black;
    }

    &__div {
       display: grid;
       grid-template-rows: 70% 30%;
        margin: 1em auto;
        padding: 1em;
        width: 70%;
        background-color: var(--extra-grey-light);
        border-radius: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        transition: 0.2s ease-in-out;
        text-align: start;
        @media screen and(min-width:900px){
            grid-template-columns:60% 40%;
            grid-template-rows: 100%;
            align-items: center;
            width: 100%;
                }
    }
&__text{
    text-align: center;
}
    &__p2 {
        text-transform: lowercase;
    }
    &__h1, &__h3 {
        @media screen and(min-width:901px){
            font-size: 20px;
            text-align: left;
}
        @media screen and(min-width: 470px) and (max-width: 900px){
            font-size: 20px;
        }
        @media screen and (max-width: 469px){
                    font-size: 10px;
                    width: 100%;
                    text-align: center;
                    margin: 1em auto;
        }
    }
    
    &__photo {
        width: 70px;
        height: 100px;
        border-radius: 4px;
        margin-right: 1em;
    }

    &__btn {
        max-width: 100%;
        margin: 1em 0;
        font-size: 12px;
        padding: 1em;
        height: 40px;
        background-color: var(--secondary-color);
        color: white;
        border-radius:4px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &--deleteBtn {
            background-color: rgb(173, 24, 24);
        }
        @media screen and(min-width:1000px) {
            border-radius: 8px;
            border: 1px solid rgba(63, 62, 62, 0.562);
            font-size: 20px;
            height: 70px;
        }
    }

    .userList__div:hover {
        box-shadow: rgba(0, 0, 0, 0.616) 0px 5px 15px;
    }

    .userList__btn:hover {
        transform: scale(1.02);
    }
}