.job {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    @media screen and(min-width:810px) {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    
    &__div {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 1em;
        background-color: var(--extra-grey-light);
        border-radius: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.39);
        transition: 0.2s ease-in-out;
        text-align: start;
        display: flex;
        text-transform: uppercase;
        @media screen and(min-width:690px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__btn {
        align-items: flex-end;
        background-color: var(--boton-color);
        padding: 2em;
        border-radius: 12px;
        border: 1px solid rgba(63, 62, 62, 0.562);
        cursor: pointer;

        @media screen and(max-width:690px) {
            max-width: 100%;
            height: 40px;
            font-size: 12px;
            padding: 1em;
            margin-top: 1em;
        }
    }

    .job__div:hover {
        box-shadow: rgba(0, 0, 0, 0.316) 0px 5px 15px;
    }

    // .jobList__btn:hover {
    //     transform: scale(.8);
    // }
}