.chatContainer {
    height: 82vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;

    .chat {
        display: grid;
        grid-template-columns: 25% 75%;
        width: var(--container-width-lg);
        height: 100%;
        background-color: bisque;

        &__list {
            display: grid;
            flex-direction: column;
        }
    }
}