.chatContainer {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    // background-color: aqua;

    .chat {
        display: grid;
        grid-template-columns: 25% 75%;
        width: var(--container-width-lg);
        height: 100%;

        &__list {
            display: grid;
            background-color: aliceblue;
            overflow: auto;
        }

        &__line {
            height: 1px;
            width: 100%;
            background-color: rgb(182, 182, 182);
        }
    }

}