//pendiente de controlar responsive del container con diferentes media queries
.jobsListContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  40% 60%;
    height: 80vh;
    overflow: auto;
    @media screen and(min-width:870px) {
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        
    }

}

.jobList {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    border-bottom: 2px solid #C0C0C0;
    @media screen and(min-width:810px) {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    
    &__div {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 1em;
        background-color: var(--extra-grey-light);
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 0.459);
        transition: 0.2s ease-in-out;
        text-align: start;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        @media screen and(min-width:690px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__button {
        background-color: var(--boton-color);
        padding: 1.3em 0;
        border-radius: 12px;
        cursor: pointer;
        margin: 1em auto;
        width: 40%;
        height: 20px;
        font-size: 8px;
        bottom: 0;
        align-items: center;
        text-align: center;
        line-height: 1em;
        border: 2px solid rgba(0, 0, 0, 0.459);
        @media screen and(min-width:690px) {
            width: 40%;
            height: 20px;
            font-size: 12px;
            bottom: 0;
            align-items: center;
            text-align: center;
            line-height: 1em;
        }
    }

    .jobList__div:hover {
        box-shadow: rgba(0, 0, 0, 0.316) 0px 5px 15px;
    }

}

.searchContainer {
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    background-color: var(--extra-blue-light);
    @media screen and(min-width:870px) {
        display:flex;
        flex-direction: row;

            }
}

.details{
    margin: 3em auto;
    padding: 2em;
    border: 2px solid rgba(0, 0, 0, 0.459);
    border-radius: 8px;
    width: 90%;
    height: 40vh;
    text-transform: uppercase;
    background-color: var(--extra-grey-light);
    font-size: 8px;
    @media screen and(min-width:870px) {
    height: 50vh;
    text-align:center;
    margin: 3em auto;

    }
    @media screen and(max-width:809px) and (min-width:350px) {
        height: 40vh;
            }
}
.details__text{
    margin: 6em auto;
    &--h1{
        text-align:center;
        @media screen and(min-width:810px) {
            font-size:18px;
                }
        @media screen and(max-width:809px){
            font-size: 15px;
                }
            @media screen and(max-width:350px) {
                    font-size: 11px;
                        }
    }
&--h2{
    text-align:left ;
    @media screen and(min-width:810px) {
        font-size:15px;
            }
    @media screen and(max-width:809px){
        font-size: 12px;
            }
        @media screen and(max-width:350px) {
                font-size: 8px;
                    }
}

}
// .rowRight {
//     animation: 0.6s ease-in-out slideInRight;
// }
// @keyframes slideInRight {
//     0% {
//         transform: translateX(+100%);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }
