.home{
    display: grid;
    grid-template-rows: 25% auto auto auto;
    transition: 0.3s ease-in-out;
@media screen and (min-width: 900px) {
    display: grid;
    grid-template-rows: 30em  auto  auto auto auto;
    // margin: 1em auto;
    transition: 0.3s ease-in-out;
  }
  &__firstText{
background-color: var(--extra-blue-light);
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
@media screen and (min-width: 900px) {
    border-bottom-left-radius: 0;

}
}
&__sectionfirst{
    display: flex;
flex-direction: column;
justify-content: flex-start;
    // background-image: url(../../assets/images/difOffice2.jpg);
    // background-position: 40%;
    background-color: rgba(240, 248, 255, 0.267);
    color: black;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    @media screen and (min-width: 900px) {
        display: flex;
     flex-direction: column;
        justify-content: flex-start;
        background-image: url(../../assets/images/difOffice2.jpg);
        background-position-x: 20%;
        background-position-y: 70%;
        align-items:flex-start;
        text-align: center;
      }

}
&__firstp{
text-overflow: ellipsis;
font-size: 30px;
color: aliceblue;
    @media screen and (min-width: 900px) {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: aliceblue;
      }

}
&__secondp{
    text-overflow: ellipsis;
    font-size:40px;
    color: aliceblue;
    margin: 0 0.1em;
        @media screen and (min-width: 900px) {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: aliceblue;
          }
    
    }
&__section{
    padding: 5em auto;
    margin: 1em auto;
    transition: 0.3s ease-in-out;
    @media screen and (min-width: 900px) {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 1em auto;
      }
}
&__img{
    margin: 1em auto;
    width: 300px;
    height: 300px;
    @media screen and (min-width: 900px) {
        margin: 1em 2em 1em 1em;
    }
}
&__secondText{
    @media screen and (min-width: 900px) {
    margin: 1em 4em;
    }
}
&__secondTextPar{
    font-size: 25px;
}
.home__buttonRegister{
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
    &:hover{
        background-color: #3a6ea56c;
    }
}
}
.sect-1{
    flex-direction: row-reverse;
    background-color: #3a6ea536;
    width: 100%;
    padding: 1em;
    @media screen and (min-width: 900px) {
    width: 90%;
    padding: 1em;
    border-radius: 4px;
    }
}
.sect-2{
    background-color: #3a6ea536;
    width: 100%;
    padding: 1em;
    @media screen and (min-width: 900px) {
    width: 90%;
    padding: 1em;
    border-radius: 4px;
    }
}
.sect-3{
    background-color: #3a6ea536;
    width: 100%;
    padding: 1em;
    @media screen and (min-width: 900px) {
    width: 90%;
    padding: 1em;
    border-radius: 4px;
    }
}
span{
    color:black;
}
