.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    &__div--ola{
        height: 150px; 
        overflow: hidden;
    }
    &__svg--ola{
        height: 100%; width: 100%;
    }
    &__path--ola{
        stroke: none; 
        fill: #08f;
    }
    &__nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  justify-content: center;
    }
}
&__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    justify-content: center;
      }
  }
  //Efectos footer
  &__a span:first-child {
    display: inline-block;

    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
  }
  &__a{
    display: block;
    position: relative;
    overflow: hidden;
  }
  &__a span:last-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  &__a span{
    transition: transform 0.2s ease-out;
    color:var(--extra-blue-light);
  }
  &__a:hover span:first-child{
    transform: translateY(100%);
  }
  &__a:hover span:last-child{
    transform: none;
  }
  &__ul[data-animation] a:hover span:last-child {
    transform: none;
  }
  &__a span:last-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

//
  &__li{
    margin: 2em;
  }
  &__p{
    font-family: 'Fredoka One', cursive;
  }
  &__ul[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }

  &__ul[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
  }
&__h4{
  font-size: small;
  font-family: 'Fredoka One', cursive;
}
}