.notificationsList {

    // background-color: antiquewhite;

    &__card {
        display: grid;
        grid-template-columns: .2fr .4fr 1fr 1fr 1fr;

        justify-content: center;
        align-items: center;
        background-color: var(--extra-blue-light);
        color: var(--extra-grey-light)
    }

    &__item {
        display: flex;
        align-items: center;
        padding: .8rem;
        height: 4rem;
        text-decoration: none;
        color: var(--extra-grey-light);
        &:hover{
            text-decoration: underline;
            color: var(--extra-grey-light);
        }

    }

    &__img {
        height: 100%;
        border-radius: 5rem;
    }

    &__text {
        margin-bottom: 0;
        text-decoration: none;
    }

    &__btn {
        padding: .8rem;
        margin: .6rem;
    }
}