.notificationsList {

    // background-color: antiquewhite;

    &__card {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% ;
margin: 1em auto;
border-radius: 4px;
padding-right: .6em;
        justify-content: center;
        align-items: center;
        background-color: var(--extra-blue-light);
        color: var(--extra-grey-light);
        @media screen  and (max-width:500px) {
            font-size: 10px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: .8rem;
        height: 4rem;
        text-decoration: none;
        color: var(--extra-grey-light);
        &:hover{
            text-decoration: underline;
            color: var(--extra-grey-light);
        }

    }

    &__img {
        height: 100%;
        border-radius: 5rem;
    }

    &__text {
        margin-bottom: 0;
        text-decoration: none;
    }
    &__textApplied{
        display: none;
        @media screen  and (min-width:786px) {
            display:block;
            
        }
    }

    &__btn {
        padding: .4rem;
        margin-top: .6rem;
        border-radius: 4px;
        width: 100%;
        @media screen  and (min-width:786px) {
            padding: .8rem;
            margin-bottom: .1em;
            width: 70%;
            
        }
    }
}

        