.detail {
    display: flex;
    flex-direction: column;
height: 100vh;
    // /*     @media screen and(min-width:810px) {
    //     display: grid;
    //     grid-template-columns: 50% 50%;
    // } */
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and(min-width:810px) {
        display: flex;
        flex-direction: row;
        margin: 20px 20px 20px 80px;
        align-items: center;
    }

    &__text {
        margin-left: 100px;

    }

    &__photo {
        width: 100%;
        height: 140px;
        border-radius: 4px;
    }


}

.edits {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(max-width:810px) {
        display: flex;
        flex-direction: row;
    }

    &__text {
        position: relative;
        float: right;
    }

    &__navBar {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.507);

        @media screen and(min-width:810px) {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto;

        }
    }

    .opcionBis {
        height: 40%;

        @media screen and(min-width:810px) {
            height: 40%;
        }
    }

    &__li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 1em 0.5em;
        color: var(--extra-grey-light);
        background-color: var(--extra-blue-light);
        border-radius: 4px;
        height: 40%;

        @media screen and(min-width:810px) {
            height: 40%;
        }

        @media screen and(max-width:425px) {
            font-size: 12px;
        }

        &--selected {
            background-color: white;
            color: var(--extra-blue-light);
            border: 1px solid gray;
        }
    }

    &__text {
        color: blue;
        font-weight: 800;
    }

    &__imptBtn {
        margin: 1em auto;
        width: 70%;

        @media screen and(min-width:810px) {
            display: flex;
            flex-direction: column;
        }

    }

    &__button {
        margin: 1em;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.301);
        padding: 0.3em;

        @media screen and(min-width:810px) {
            margin: 1em auto;
            width: 80%;
        }

        &:hover {
            background-color: var(--boton-color);
            color: white;
        }
    }
}

.Info {
    background-color: white;
    color: var(--secondary-color);
}

.Show {
    background-color: white;
    color: var(--secondary-color);
}

.Active {
    background-color: white;
    color: var(--secondary-color);
}

.Delete {
    background-color: red;
    color: white;
    margin: 3em auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 0.1em;
    width: 50%;

    @media screen and(min-width:1200px) {
        margin: 5em auto;
        width: 20%;
        height: 30%;
    }

    @media screen and(min-width:810px) and (max-width:1199px) {
        margin: 5em auto;
        width: 20%;
        height: 30%;
        font-size: 12px;
    }

    &:hover {
        background-color: rgb(43, 12, 12);
        color: white;
    }
}