

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px 20px 80px;
    align-items: center;

    &__text{
        margin-left:100px;
    }

    &__photo {
        width: 90px;
        height: 140px;
        border-radius: 30px;
    }
   

}
.edits{
    

    &__button{
        margin: 1em auto;
        width: 60%;
        border-radius: 15px;
        background-color: var(--secondary-color);
        //background-color: red;
        color: white;
        @media screen and(min-width:810px) {
            width:15%;
        }
    }
    &__buttonDelete{
        margin: 1em auto;
        margin-left: 10px;
        width: 60%;
        border-radius: 15px;
        //background-color: var(--secondary-color);
        background-color: red;
        color: white;
        @media screen and(min-width:810px) {
            width:15%;
        }

    }
    &__buttonActive{
        margin: 1em auto;
        margin-left: 10px;
        width: 60%;
        border-radius: 15px;
        //background-color: var(--secondary-color);
        background-color: greenyellow;
        color: white;
        @media screen and(min-width:810px) {
            width:15%;
        }
    }
    &__buttonShow{
        margin: 1em auto;
        margin-left: 10px;
        width: 60%;
        border-radius: 15px;
        //background-color: var(--secondary-color);
        background-color: cadetblue;
        color: white;
        @media screen and(min-width:810px) {
            width:15%;
        }
    }
}    






