.detail{
    display: grid;
    grid-template-columns: 100%;
    @media screen and(min-width:810px) {
       display: grid;
       grid-template-columns: 50% 50%;
    }
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and(min-width:810px) {
        display: flex;
        flex-direction: row;
        margin: 20px 20px 20px 80px;
        align-items: center;
    }

    &__text{
        margin-left:100px;
// &--Name{
// }
// &--Descr{
// }

    }

    &__photo {
        width:100%;
        height: 140px;
        border-radius: 4px;
    }
   

}
.edits{
    display: flex;
    flex-direction: column;
    @media screen and(min-width:810px) {
       display: flex;
       flex-direction: row;
    }
   &__imptBtn{
    display: flex;flex-direction: column;
   }
    &__button{
        margin: 1em;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.301);
        padding: 0.3em;
        @media screen and(min-width:810px) {
            margin: 1em auto;
            width:80%;
        }
        &:hover{
            background-color: var(--boton-color);
            color: white;
        }
    }
}    
.Info{
    background-color: white;
    color:var(--secondary-color);
}
.Show{
    background-color: white;
    color:var(--secondary-color);
}
.Active{
    background-color: white;
    color:var(--secondary-color);
}
.Delete{
    background-color:var(--secondary-color);
    color:white;
    margin: 3em auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 0.1em;        
    width:50%;
    @media screen and(min-width:1200px) {
        margin: 5em auto;
        width:20%;
        height: 30%;
    }
    @media screen and(min-width:810px) and (max-width:1199px){
        margin: 5em auto;
        width:20%;
        height: 30%;
        font-size: 12px;
    }
    &:hover{
        background-color: rgb(43, 12, 12);
        color: white;
    }
}






