.sectionForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  @media screen and (min-width: 1000px) {
    color: var(--extra-grey-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color:var(--extra-blue-light);
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2em auto;
    width: 90%;
    border-radius: 10px;
    color:var(--primary-color);
    @media screen and (min-width: 1000px) {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 70%;
      padding: 1em;
      margin-top: 1em;
      background-color: #ffffff;
      color: black;
    }
  }
    &__fieldset1 {
      display: grid;
      grid-template-columns: auto;
      @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        margin-top: 2em;
      }
    }
    &__fieldset2 {
      display: grid;
      grid-template-columns: auto;
      @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-rows: 50%  50%;
        grid-template-columns: 100%;
      }
    }
    &__label {
      text-align:left;
      margin: 0.5em;
      @media screen and(min-width:1000px) {
          text-align:center;
      }
    }
    &__input {
      text-align: center;
      border: 1px solid black;
      border-radius: 4px;
      width: 100%;
      @media screen and(min-width:1000px) {
        margin: 0.5em;
        width: 100%;
        padding:0.5em;
    }
    }
    &__textarea {
      padding: 1.2em;
      border: 1px solid black;
      border-radius: 10px;
      width: 100%;
      max-height: 150px;
      margin: 1em auto 0 auto;
    }
    &__divDirecc{
display: grid;
@media screen and (min-width: 1000px) {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2em;
}
    }
    &__button {
      background-color: #ff6700;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      color: white;
      cursor: pointer;
      font-weight: 700;
      border-radius: 20px;
      padding: 1em;
      margin: 1em auto;
      width: 50%;
      @media screen and(min-width:1000px) {
        width: 50%;
        margin: 0 auto 2em auto;
    }
    }
    .sectionForm__input:focus{
    border: 2px solid orange;
    }
    .sectionForm__textarea:focus{
      border: 2px solid orange;
      }
}