.sectionForm {
  display: flex;
  flex-direction: column-reverse;
  margin: 1em auto;
  cursor: url(../../assets/images/handshake-regular.png);
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;

  }
  &__img {
    display: none;
    @media screen and (min-width: 900px) {
      display: flex;
      width: 300px;
      height: 200px;
      position: static;

    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004f98;
    margin: 2em auto;
    max-width: 70%;
    border-radius: 10px;
    @media screen and (min-width: 900px) {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 90%;
      margin-top: 1em;
      background-color: #004f98;
    }
  }
    &__fieldset1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-top: 2em;
      }
    }
    &__fieldset2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em;
      @media screen and (min-width: 900px) {
        display: flex;
        justify-content: center;
        width: 80%;
      }
    }
    &__label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__input {
      text-align: center;
      border-radius: 10px;
      padding: 1.2em;
      width: 100%;
      margin: 1em auto;
    }
    &__input2 {
      text-align: center;
      border-radius: 10px;
      padding: 1.2em;
      width: 100%;
      margin: 1em 1em;
    }
    &__input3 {
      text-align: center;
      border-radius: 10px;
      padding: 1.2em;
      width: 100%;
      margin: 1em 0 0 2em;
    }
    &__textarea {
      padding: 1.2em;
      border-radius: 10px;
      max-width: 600px;
      max-height: 150px;
      margin: 1em auto;
    }
    &__divDirecc{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    &__button {
      background-color: #ff6700;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
      color: white;
      cursor: pointer;
      font-weight: 700;
      border-radius: 20px;
      padding: 1em;
    }
}

