@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
  --primary-color: #C0C0C0;
  --secondary-color: #004E98;
  --boton-color:#ff6700;
  --extra-grey-light:#EBEBEB;
  --extra-blue-light:#3A6Ea5;
  --fontWeb: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
