@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  // text-transform: uppercase;
}

.App {
  text-align: center;
}

:root{
  // MAIN COLORS
  --primary-color: #C0C0C0;
  --secondary-color: #004E98;
  --boton-color:#ff6700;
  --extra-grey-light:#EBEBEB;
  --extra-blue-light:#3A6Ea5;
  --fontWeb: 'Roboto', sans-serif;

  //CONTAINERS
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
