.inputContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    float: right;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    &__input{
        width: 80%;
    }
    &__button{
        display: flex;
padding-top: 5px;
width: 5%;
justify-content: center;
align-content: center;
    }
    }