.contacts {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: azure;

    &--selected {
        color: red;
    }

    &__img {
        height: 4rem;

        img {
            height: 100%;
        }
    }

    &__text {
    margin-bottom: 0 !important;
    }
}