.contact {
    display: flex !important;
    align-items: center;
    cursor: pointer;
    background-color: azure;
    padding: .4rem .4rem .4rem 0;

    &--selected {
        background-color: var(--extra-grey-light);
    }

    &__item {

        display: flex;
        align-items: center;
        height: 4rem;

        img {
            margin: .4rem;
            border-radius: 5rem;
            height: 100%;
            width: 3.5rem;
        }
    }


    &__text {
        margin-bottom: 0;
    }

}