.msgContainer {
    height: 100%;
    @media screen  and(max-width: 900px) {
        display:flex;
        flex-direction: column;
        max-height: 40%;
        max-width: 80%;
    }
&__title{
    background-color: aliceblue;
}

    &__items {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__name{
        background-color: aliceblue;
    }}