.msgContainer {
    height: 100%;

    @media screen and(max-width: 900px) {
        display: flex;
        flex-direction: column;
        max-height: 40%;
        max-width: 80%;
    }

    &__title {
        background-color: aliceblue;
    }

    &__items {
        height: 100%;

        display: flex;
        flex-direction: column;
        text-align: start;
        
        overflow: auto;
    }
    
    &__name {
        background-color: aliceblue;
    }
    
    &__text {
        text-align: center;
        text-align: start;
        padding: .7rem;

        &--textRight {
            text-align: end;
        }

    }
}

